$cBlack: black;
$cWhite: white;
$cEmerald: rgba(34,193,195,0.7);
$cOcean: #a2dedd;
$cGray: #999;



body {
  box-sizing : border-box;
}

.header-parent {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $cEmerald;
  position: relative;
  z-index: 200;
  position: fixed;
}
.title {
  font-size: 30px;
  color: $cWhite;
  margin-left: 10px;
}

.header-menu {
  display: flex;
  margin-right: 20px;

  & li {
    list-style: none;
    margin-left: 10px;
    
     & a {
       color: $cWhite;
       text-decoration: none;
     }
  }
}

.container {
  background-image: url(../images/water_00011.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
  }
}

.main-container {
  margin-bottom: 30px;
  margin-right: 240px;

  & h2 {
    color: $cWhite;
    font-size: 70px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    position: relative;
    z-index: 10;
  }

  & p {
    color: $cWhite;
    font-size: 15px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    position: relative;
    z-index: 10;
  }
}

.container2 {
  width: 100%;
  height: 100vh;
  background-color: $cOcean;
  display: flex;
  justify-content: center;

  &.about-contents {
    width: 500px;
    height: 300px;

  }
}

.container-about {
  margin-top: 100px;
}

.profile-box {
  height: 400px;
  width: 700px;
  background-color: $cWhite;
  border-radius: 13px;
  margin-top: 40px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;

  & .profile-text {
    margin-top: 70px;

    & .icon-link {
      padding: 15px;
      border-radius: 50%;
      background-color: #abc2cf;
      color: $cWhite;
      margin-top: 20px;
      margin-right: 10px;
    }

    & .icon-list {
      margin-top: 35px;
    }
  }

  & .myname {
    font-size: 40px;
    letter-spacing: 2px;
    position: absolute;
    top: 65px;
    left: 300px;
  }

  & .mytext {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
    color: $cGray;
  }
}

.trim-image-to-circle {
  background-image: url("../images/IMG_3287.jpg");  /* 表示する画像 */
  background-repeat: no-repeat;
  width:  230px;       /* ※縦横を同値に */
  height: 230px;       /* ※縦横を同値に */
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  border: solid 3px rgb(114, 123, 126);
  background-size:cover;
  background-position: center top;
}


.about-title {
  font-size: 60px;
  text-align: center;
  color: rgba(7,96,96,0.7);
  
}

.container3 {
  height: 100vh;
  width: 100%;
  background: linear-gradient($cOcean, #3369d4 ) fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  & .skill-title {
    text-align: center;
    font-size: 50px;
    color: $cWhite;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }

  & .skill-box {
    width: 450px;
    height: 600px;
    background-color: $cWhite;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 18px;
    display: flex;
    align-items: center;

    & .skill-lists {
      list-style: none;
      padding: 40px 0;
  

      & li {
        font-size: 50px;
        margin: 10px 0 0 80px;
        display: flex;
        align-items: center;
        
        

        & .icon-text {
          font-size: 27px;
          margin-left: 60px;
          font-weight: 600;

          &.text-sass {
            margin-left: 45px;
          }

          &.text-rails {
            margin-left: 50px;
            color: #b11010;
          }

          &.text-jquery {
            color: #1b65b3;
          }
        }
      }

      & .html-icon {
        color: orange;
        font-size: 73px;
        animation-delay: 0.15s;
      }

      & .css-icon {
        color: rgb(0, 162, 255);;
        font-size: 73px;
        animation-delay: 0.3s;
      }

      & .sass-icon {
        font-size: 60px;
        animation-delay: 0.45s;
      }

      & .js-icon {
        color: rgb(223, 223, 9);
        font-size: 65px;
        animation-delay: 0.6s;
      }

      & .ruby-icon {
        color: red;
        font-size: 55px;
        animation-delay: 0.75s;
      }

      & .rails-icon {
        animation-delay: 0.9s;
      }

      & .jquery-icon {
        animation-delay: 1.05s;
      }

    }
  }
}

.container4 {
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg,#5a96bb 0%,#7aaab6 25%,#a4b49a 50%, rgb(182, 159, 117) 75%);
  display: flex;
  justify-content: center;
  align-items: center;


  & .works-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 45px;
    color: $cWhite;
  }

  & .works-box {
    height: 500px;
    width: 1050px;
    background-color: $cWhite;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;

    & .item {
      margin-top: 70px;

      & .item-1 {
        animation-delay: 0.15s;
      }

      & .title1 {
        animation-delay: 0.6s;
      }

      & .daily1 {
        animation-delay: 0.7s;
      }

      & .text1 {
        animation-delay: 0.8s;
      }

      & .text2 {
        animation-delay: 0.9s;
      }

      & .item-2 {
        animation-delay: 0.3s;
      }

      & .daily2 {
        animation-delay: 1s;
      }

      & .text3 {
        animation-delay: 1.1s;
      }

      & .text4 {
        animation-delay: 1.2s;
      }

      & .text5 {
        animation-delay: 1.3s;
      }

      & .item-3 {
        animation-delay: 0.45s;
      }

      & .daily3 {
        animation-delay: 1.4s;
      }

      & .text6 {
        animation-delay: 1.5s;
      }

      & .text7 {
        animation-delay: 1.6s;
      }

      & .text8 {
        animation-delay: 1.7s;
      }

      & .item-title {
        margin-top: 15px;
        display: block;
        color: $cBlack;
        font-size: 28px;
        
      }

      & p {
        margin-top: 20px;
        letter-spacing: 1px;
        font-size: 18px;
        color: $cGray;
      }

      & .text {
        margin-top: 17px;
        color: $cGray;
      }
    }
  }
}

.container5 {
  height: 200px;
  width: 100%;
  background-color: $cWhite;

  & .contact-box {
    text-align: center;
    margin-top: 25px;

    & h2 {
      font-size: 35px;
    }

    & p {
      margin-top: 25px;
    }

    & .contact-link {
      padding: 15px;
      border-radius: 50%;
      background-color: #3686b4;
      color: white;
    }
  }
}

/* トップフェードイン */
.fade-in-bottom {
  opacity: 0;
  animation-name: fadein-bottom;
  animation-duration: 2.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fadein-bottom {
  0% {
     opacity: 0;
     transform: translateY(20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

/*1.フェードインアニメーションの指定*/
.scrollanime {opacity: 0;} /*一瞬表示されるのを防ぐ*/
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;         
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
}

/*2.上下の動きを指定*/
.updown {transform: translateY(-300px);}
.downup {transform: translateY(300px);}
 
/*3.左右の動きを指定*/
.sect02{overflow: hidden;} /*横スクロールバーを隠す*/
.slide-right {transform: translateX(200px);}
.slide-left {transform: translateX(-200px);}

// ライブラリ
.swiper-container {
  width: 100%;
  height: 300px;
}


// レスポンシブデザイン
/* 959px以下に適用されるCSS（タブレット用） */
@media screen and (max-width: 380px) {

  
  .main-container {
    margin: 0 10px 0 10px;


    & .main-title {
      font-size: 55px;
      font-weight: 700;

    }

    & .profile-text-lists {
      margin-top: 30px;

      & p {
        font-size: 11px;
        font-weight: bold;
      }
    }
    
  }
  .container-about {
    margin-top: 40px;

    .profile-box {
      width: 340px;
      height: 80%;
      position: relative;
      flex-direction: column;
  
      & .myname {
        font-weight: 500;
        position: absolute;
        top: 30px;
        left: 63px;

      }

      & .trim-image-to-circle {
        width: 190px;
        height: 190px;
        margin-top: 70px;
      }

      & .profile-text {
        margin-top: 0;
        text-align: center;
        margin: 0 8px 40px;
      }
    }
  }
  
  .container3 {
    // height: 100%;
    width: 100%;
    height: 100vh;


    & .skill-box {
      width: 340px;

      & .skill-lists {

        & li {
          margin-left: 5px;
        }
      }
    }
  }
  .container4 {
    

    .container-works {
      width: 100%;
      height: 100vh;
  
      & .works-box {
        margin: 0 0 0 20px;
        width: 340px;
        height: 80%;
        flex-direction: column;
      }
    }
  }
}
